@import 'tailwindcss';

@font-face {
    font-family: 'SegoeUI';
    src: url('../assets/font/segoeui-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../assets/font/segoeui-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../assets/font/segoeui-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../assets/font/segoeui-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@layer base {
    body {
        font-family: 'SegoeUI', sans-serif;
    }
}

.context-menu {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
